<a href="https://colab.research.google.com/github/aliakbarbadri/mlp-classifier-adult-dataset/blob/master/mlp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
%tensorflow_version 2.x
import tensorflow as tf
from tensorflow import keras
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import preprocessing

# 1. Load the data

In [0]:
header = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 
                  'capital-loss', 'hours-per-week', 'native-country', 'salary']
try:
  df_temp = pd.read_csv("adults.csv",index_col=False, skipinitialspace=True,header=None,names=header)
except:
  df_temp = pd.read_csv("https://raw.githubusercontent.com/aliakbarbadri/mlp-classifier-adult-dataset/master/adults.csv", index_col=False, skipinitialspace=True,header=None,names=header)

In [0]:
df = df_temp

In [0]:
df.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

In [0]:
df.shape

(48842, 15)

In [0]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
salary            object
dtype: object

# 2. Preprocessing

## 2.1. Drop rows with NaN value

### 2.1.1. change ? to np.nan

In [0]:
df = df.replace('?', np.nan)
df[pd.isnull(df).any(axis=1)].shape

(3620, 15)

### 2.1.2. Drop rows containing nan

In [0]:
print(df.shape)

(48842, 15)

In [0]:
df.dropna(inplace=True)

In [0]:
df.shape

(45222, 15)

## 2.2. Deal with categorical columns

categorical columns
- workclass         
- education
- education-num         
- marital-status    
- occupation        
- relationship      
- race              
- sex               
- native-country    
- salary

### 2.2.1. drop the education-num column because there is education column

In [0]:
df.drop('education-num', axis=1, inplace=True)

### 2.2.2. convert categoricals to numerical

In [0]:
categorical_columns = ['workclass','education','marital-status','occupation','relationship','race','sex','native-country']
label_column = ['salary']

In [0]:
def show_unique_values(columns):
  for column in columns:
    uniq = df[column].unique().tolist()
    print(column+ " has "+ str(len(uniq)) +" values" + " : " + str(uniq))
show_unique_values(categorical_columns)
show_unique_values(label_column)

workclass has 7 values : ['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov', 'Local-gov', 'Self-emp-inc', 'Without-pay']
education has 16 values : ['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college', 'Assoc-acdm', '7th-8th', 'Doctorate', 'Assoc-voc', 'Prof-school', '5th-6th', '10th', 'Preschool', '12th', '1st-4th']
marital-status has 7 values : ['Never-married', 'Married-civ-spouse', 'Divorced', 'Married-spouse-absent', 'Separated', 'Married-AF-spouse', 'Widowed']
occupation has 14 values : ['Adm-clerical', 'Exec-managerial', 'Handlers-cleaners', 'Prof-specialty', 'Other-service', 'Sales', 'Transport-moving', 'Farming-fishing', 'Machine-op-inspct', 'Tech-support', 'Craft-repair', 'Protective-serv', 'Armed-Forces', 'Priv-house-serv']
relationship has 6 values : ['Not-in-family', 'Husband', 'Wife', 'Own-child', 'Unmarried', 'Other-relative']
race has 5 values : ['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other']
sex has 2 values : ['Male', 'Female']
native-country has 41 values : ['United-States', 'Cuba', 'Jamaica', 'India', 'Mexico', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany', 'Iran', 'Philippines', 'Poland', 'Columbia', 'Cambodia', 'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal', 'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala', 'Italy', 'China', 'South', 'Japan', 'Yugoslavia', 'Peru', 'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago', 'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary', 'Holand-Netherlands']
salary has 2 values : ['<=50K', '>50K']

#### 2.2.2.1. convert to int

In [0]:
def convert_to_int(columns):
  for column in columns:
    unique_values = df[column].unique().tolist()
    dic = {}
    for indx, val in enumerate(unique_values):
      dic[val]=indx
    df[column] = df[column].map(dic).astype(int)
    print(column + " done!")
convert_to_int(label_column)
show_unique_values(label_column)

salary done!
salary has 2 values : [0, 1]

#### 2.2.2.2. convert to one-hot (good one)

In [0]:
def convert_to_onehot(data,columns):
  dummies = pd.get_dummies(data[columns])
  data = data.drop(columns, axis=1)
  data = pd.concat([data, dummies], axis=1)
  return data

In [0]:
df = convert_to_onehot(df,categorical_columns)

In [0]:
df.head()

   age  fnlwgt  ...  native-country_Vietnam  native-country_Yugoslavia
0   39   77516  ...                       0                          0
1   50   83311  ...                       0                          0
2   38  215646  ...                       0                          0
3   53  234721  ...                       0                          0
4   28  338409  ...                       0                          0

[5 rows x 104 columns]

In [0]:
df.shape

(45222, 104)

## 2.3. Normalize

Numerical columns:
- age
- fnlwgt
- capital-gain
- capital-loss
- hours-per-week

In [0]:
normalize_columns = ['age', 'fnlwgt', 'capital-gain','capital-loss','hours-per-week']

In [0]:
def show_values(columns):
  for column in columns:
    max_val = df[column].max()
    min_val = df[column].min()
    mean_val = df[column].mean()
    var_val = df[column].var()
    print(column +': values=['+str(min_val)+','+str(max_val)+'] , mean='+str(mean_val)+' , var='+str(var_val))

In [0]:
show_values(normalize_columns)

age: values=[17,90] , mean=38.547941267524656 , var=174.7120931277955
fnlwgt: values=[13492,1490400] , mean=189734.7343107337 , var=11159639548.606026
capital-gain: values=[0,99999] , mean=1101.4303436380524 , var=56346492.60217762
capital-loss: values=[0,4356] , mean=88.595418159303 , var=163989.43649575836
hours-per-week: values=[1,99] , mean=40.93801689443191 , var=144.18025389435846

In [0]:
def normalize(columns):
  scaler = preprocessing.MinMaxScaler()
  df[columns] = scaler.fit_transform(df[columns])
normalize(normalize_columns)
show_values(normalize_columns)

age: values=[0.0,1.0] , mean=0.2951772776373338 , var=0.03278515540022489
fnlwgt: values=[0.0,1.0] , mean=0.1193322362061371 , var=0.00511615014569865
capital-gain: values=[0.0,1.0] , mean=0.011014413580516476 , var=0.005634761954897433
capital-loss: values=[0.0,1.0] , mean=0.020338709402962174 , var=0.00864251478890825
hours-per-week: values=[0.0,0.9999999999999999] , mean=0.40753078463711834 , var=0.01501252123014115

In [98]:
df.head()

        age    fnlwgt  ...  native-country_Vietnam  native-country_Yugoslavia
0  0.301370  0.043350  ...                       0                          0
1  0.452055  0.047274  ...                       0                          0
2  0.287671  0.136877  ...                       0                          0
3  0.493151  0.149792  ...                       0                          0
4  0.150685  0.219998  ...                       0                          0

[5 rows x 104 columns]

## 2.4. Split the data to train, validation and test

In [97]:
from sklearn.model_selection import train_test_split

x_data = df.drop('salary',axis=1)
y_labels = df['salary']

X_train_full, X_test, y_train_full, y_test = train_test_split(x_data,y_labels,test_size=0.2,random_state=101)
X_train, X_valid, y_train, y_valid = train_test_split(X_train_full,y_train_full,test_size=0.2,random_state=101)
print(X_train.shape, y_train.shape)
print(X_valid.shape, y_valid.shape)
print(X_test.shape, y_test.shape)

(28941, 103) (28941,)
(7236, 103) (7236,)
(9045, 103) (9045,)

# Model